<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="departures_hirtenweg" data-view="Timetable" data-unordered="true" data-title="Abfahrten" data-stop="Hirtenweg" data-moreinfo="Powered by KVV API"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="departures_auerstr" data-view="Timetable" data-unordered="true" data-title="Abfahrten" data-stop="Auer Str. / Dr. W. Schwabe" data-moreinfo="Powered by KVV API"></div>
    </li>
  </ul>
</div>
